<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/site.css" />
    <title>Avast Melons</title>
  </head>
  <body>
    <nav class="navbar fixed">
      <div class="navbar-div">
        <div>
          <a class="logo-and-name" href="{{ url_for('mainpage') }}"
            >
            <img class="melon-logo" src="../static/images/melon-logo.png" alt="melon ship logo">
            <div class="company-title">
              <h1 class="company-name">Avast</h1>
              <h1 class="company-name">Melons</h1>
            </div>
            </a
          >
        </div>
        <div class="navbar-links">
          <div class="navbar-div">
            <a class="navbar-link" href="{{ url_for('all_melons') }}">
              Catalog</span
            ></a>
            <a class="navbar-link" href="{{ url_for('show_shopping_cart') }}"
              >Cart</a
            >
            <div class="log-div">
              {% if 'username' in session %}
              <a class="log-link" href="/logout">Log Out</a>
              {% else %}
              <a class="log-link" href="/login">Log In</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      {% for message in get_flashed_messages() %}
      <p class="alert alert-warning">{{ message }}</p>
      {% endfor %}
      <!-- This is where the main content goes. -->
      <div>
        {% block body %} {% endblock %}
      </div>
    </div>
  </body>
</html>
