<div class="navbar fixed">
  {% extends 'base.html' %} {% block body %}
  <div class="cart-div">
    <h1 class="cart-title">Shipment Details</h1>
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Pack</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for melon in cart_melons %}
        <tr>
          <td>{{ melon.common_name }}</td>
          <td>{{ melon.quantity }}</td>
          <div>
            <td>${{ "%0.2f" | format(melon.price) }}</td>
            <td>${{ "%0.2f" | format(melon.total_cost) }}</td>
          </div>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="total">
      <h3>Gross Total:</h3>
      <h3 class="total-cost">${{ "%0.2f" | format(order_total) }}</h3>
    </div>

    <a href="/empty-cart" class="empty-cart">Clear Entire Order</a>
  </div>
  {% endblock %}
</div>
