<div class="navbar fixed">
  {% extends 'base.html' %}
  <div>
    {% block body %}

    <div class="indv-melon-card">
      <h2 class="indv-melon-title">{{ melon.common_name }}</h2>
      <img class="melon-image" src="{{ melon.image_url }}" />

      <p class="indv-melon-lis-desc">
        Fresh {{ melon.color }} rind and {% if melon.seedless %} a seedless {%
        else %} (seeds) in {% endif %} melon aviable in packs of 10 units each
        for shipment from local distributors.
      </p>
      <a
        class="melon-list-btn indv-card-center"
        href="{{ url_for('add_to_cart', melon_id=melon.melon_id) }}"
        >Add to Cart {{ melon.price_str() }}/pack</a
      >
    </div>

    {% endblock %}
  </div>
</div>
